@using QRCode.Core.Interfaces
@using QRCode.Core.LazyLoaded.Services
@using QRCode.Core.Models
@using SkiaSharp.Views.Blazor
@using Microsoft.AspNetCore.Components.Routing
<h3>Heb je al besteld?</h3>
<p>Scan deze QR Code of ga naar
    <NavLink class="nav-link" href="@Url" Match="NavLinkMatch.All">
        🥪 @Url 🍽
    </NavLink>
</p>

<SKCanvasView width="@Model.Size" height="@Model.Size" OnPaintSurface="OnPaintSurfaceQr" />

@code {
    [Inject] public IQRCodeServiceFactory QRCodeServiceFactory { get; set; }

    [Parameter]
    public string Url { get; set; }

    private QRCodeModel Model { get; set; } = new QRCodeModel();

    private IQRCodeService service;

    protected override void OnInitialized() {
        service = QRCodeServiceFactory.Create();
    }
    void OnPaintSurfaceQr(SKPaintSurfaceEventArgs e) {
        Model.Content = Url;
        service.RenderQRCodeOnCanvas(Model, e.Surface.Canvas);
    }

}
