@page "/order/{code}"
@using AllYouCanEat.Client.QRCode.CodeOfTheDay.Core.Interfaces
@using Order.UIComponents.Components
<h3>Eten Bestellen</h3>
@*https://github.com/snickler/Samples/tree/master/BlazorWizard/Components*@

@if (CodeIsCorrect) {
    <CascadingValue Value="Code">
    <Wizard>
        <WizardStep Name="Student Info">
            <CustomerComponent></CustomerComponent>
        </WizardStep>
        <WizardStep Name="Beschikbare Opties">
            <ProductsList></ProductsList>
        </WizardStep>
        <WizardStep Name="Je Bestelling">
            <VerifyAndSubmitOrder></VerifyAndSubmitOrder>
        </WizardStep>
    </Wizard>
    </CascadingValue>
} else {
    <p>Wrong code!</p>
    <p>You tried the code @Code</p>
    <p>The code is now @ActualCode</p>
}

@code {
    [Inject] public ICodeOfTheDayService CodeOfTheDayService { get; set; }

    [Parameter]
    public string Code { get; set; }

    public string ActualCode { get; set; }

    public bool CodeIsCorrect { get; set; }
    protected override async Task OnInitializedAsync() {
        ActualCode = await CodeOfTheDayService.GetCodeOfTheDay();
        CodeIsCorrect = Code == ActualCode;
    }
}
