@page "/order/{code}"
@using AllYouCanEat.Client.QRCode.CodeOfTheDay.Core.Interfaces
@using Order.UIComponents.Components
<h3>Order</h3>
@*https://github.com/snickler/Samples/tree/master/BlazorWizard/Components*@
<p>You tried the code @Code</p>
<p>The code is now @ActualCode</p>

@if (CodeIsCorrect) {
    <p>Congrats, you can order!</p>

    <CascadingValue Value="Code">
    <Wizard>
        <WizardStep Name="Your Information">
            <CustomerComponent></CustomerComponent>
        </WizardStep>
        <WizardStep Name="What Do You Want?">
            <ProductsList></ProductsList>
        </WizardStep>
        <WizardStep Name="Review And Submit Order">
            <VerifyAndSubmitOrder></VerifyAndSubmitOrder>
        </WizardStep>
    </Wizard>
    </CascadingValue>
} else {
    <p>Wrong code!</p>
}

@code {
    [Inject] public ICodeOfTheDayService CodeOfTheDayService { get; set; }

    [Parameter]
    public string Code { get; set; }

    public string ActualCode { get; set; }

    public bool CodeIsCorrect { get; set; }
    protected override async Task OnInitializedAsync() {
        ActualCode = await CodeOfTheDayService.GetCodeOfTheDay();
        CodeIsCorrect = Code == ActualCode;
    }
}
