@using Order.Core.Entities
@using Order.Core.Interfaces
@inject ICustomerService customerService
<h3>Student</h3>

@if (customer is not null) {
    <div class="form">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" value="@customer.Name" @onchange="NameChanged" class="form-control" />
        </div>
        <div class="form-group">
            <label>Room:</label>
            <input type="text" value="@customer.Room" @onchange="RoomChanged" class="form-control" />
        </div>
        <div class="form-group">
            <label>Additional Notes (Do you have allergies? Is there anything you want us to know? Write it here!):</label>
            <input type="text" value="@customer.Note" @onchange="NoteChanged" class="form-control" />
        </div>
    </div>
}
@code {
    private Customer customer;


    protected override async Task OnInitializedAsync() {
        customer = await customerService.GetCustomer();
        if (customer is null) {
            customer = new Customer();
        }
    }

    async Task NameChanged(ChangeEventArgs args) {
        customer.Name = (string)args.Value;
        await SaveCustomer();
    }
    async Task RoomChanged(ChangeEventArgs args) {
        customer.Room = (string)args.Value;
        await SaveCustomer();
    }
    async Task NoteChanged(ChangeEventArgs args) {
        customer.Note = (string)args.Value;
        await SaveCustomer();
    }
    async Task SaveCustomer() {
        await customerService.SaveCustomer(customer);
    }
}
